body {
  margin: 0;
}
h1 {
  font-size: 40px;
}
.broder-header {
  font-family: "Ubuntu", sans-serif;
  border-left: 5px solid blueviolet;
  border-radius: 10px;
  padding-left: 10px;
}
.header-color {
  color: blueviolet;
}
.color-button {
  text-decoration: none;
  color: white;
  font-weight: 700;
  margin-top: 80px;
  padding: 10px 40px;
  background-image: linear-gradient(blueviolet, #df4a9c);
  border-radius: 10px;
}
.box-flexiable {
  display: flex;
}
.first-part {
  width: 100%;
  margin: 70px;
  padding-left: 20px;
}
.first-part img {
  width: 70%;
}
.first-part p {
  margin-bottom: 5%;
}
#note-tag {
  margin-top: 40px;
}
.mission-2022 {
  background-image: url(images/bg-1.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 200px;
}
.header-agenda {
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.second-part {
  width: 23%;
  border-radius: 20px;
  padding: 20px;
}
.box-1 {
  background-color: rgb(191 219 254);
  margin-left: 70px;
}
.box-2 {
  background-color: rgb(199 210 254);
  margin-left: 20px;
}
.box-3 {
  background-color: rgb(221 214 254);
  margin-left: 20px;
}
.illus {
  width: 50%;
}
.develop-limits {
  background-image: url(images/bg-2.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}
.third-part {
  margin: 70px 0px 50px 0px;
  padding: 0;
}
.container-1 {
  width: 30%;
  margin-left: 70px;
  padding-right: 50px;
}
.container-2 {
  width: 60%;
  margin-right: 70px;
  padding-top: 50px;
}
.container-2 p {
  margin-bottom: 5%;
}
.third-part img {
  width: 100%;
}
.fourth-part {
  margin: 70px 0px 50px 0px;
  padding: 0;
}
.cabin-1 {
  width: 60%;
  margin-left: 70px;
  padding-top: 20px;
  padding-right: 150px;
}
.cabin-1 p {
  margin-bottom: 5%;
}
.cabin-2 {
  width: 30%;
  margin-right: 70px;
  padding-right: 100px;
}
.fourth-part img {
  width: 100%;
}
footer {
  padding: 10px 50px;
  background-color: black;
  color: white;
  text-align: center;
}
.footer-header {
  font-family: "Yellowtail", cursive;
  font-size: 30px;
}
.box-shadow {
  margin: 70px;
}
.fifth-part {
  width: 30%;
  padding: 20px;
  margin: 10px;
}
.shadow-1 {
  background-color: rgb(238, 206, 238);
  box-shadow: 10px 10px 40px grey;
}
.shadow-2 {
  background-color: #c6c1fe;
  box-shadow: 10px 10px 40px grey;
}
.shadow-3 {
  background-color: rgb(199 210 254);
  box-shadow: 10px 10px 40px grey;
}
.shadow-4 {
  background-color: rgb(191 219 254);
  box-shadow: 10px 10px 40px grey;
}
